@import 'variables';

@mixin button {
	display: block;
	font-size: 36px;
	line-height: 28px;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
	width: 50%;
	height: 100%;
	background: $black;
	border-radius: 4px;

	&:hover {
		text-shadow: 0 0 2px $green-white;
		border: $green-white solid 1px;
		box-shadow: 0 0 2px $green-white;
	}

	&:active {
		text-shadow: 0 0 2px $red-white;
		border: $red-white solid 1px;
		box-shadow: 0 0 2px $red-white;
	}
}
